Leak Detection/Node-red Dashboard/Dashboard.json
[{"id":"124cad1.decec53","type":"tab","label":"Mqtt Data Reciever","disabled":false,"info":""},{"id":"17e3bace.508725","type":"tab","label":"Predictor ML","disabled":false,"info":""},{"id":"22f394e5.96b87c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"78575fdf.e65308","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1424ade0.635bda","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92daa97d.01534","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638e76e3.97a0e","type":"mqtt-broker","name":"android consumer","broker":"35d42q.messaging.internetofthings.ibmcloud.com","port":"8883","tls":"8d767a17.45d058","clientid":"a:35d42q:watermon","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8d767a17.45d058","type":"tls-config","name":"credentials.mqtt_host","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"35d42q.messaging.internetofthings.ibmcloud.com","verifyservercert":true},{"id":"94b2215f.4694","type":"bigquery-config"},{"id":"b833e956.492468","type":"bigquery-config"},{"id":"46a8ac65.d0f114","type":"google-cloud-credentials","name":"IOTFI Credentials"},{"id":"71b170cd.61afd","type":"google-cloud-credentials","name":"iotfi"},{"id":"a20161e7.905f6","type":"google-cloud-credentials","name":"IOTFI Credentials"},{"id":"945d6126.939338","type":"google-cloud-credentials","name":"iotfi"},{"id":"e94340ab.56bfd","type":"google-cloud-credentials","name":"IOTFI Credentials"},{"id":"dec3db1f.87f0e8","type":"google-cloud-credentials","name":"iotfi"},{"id":"2ad6303b.828ac","type":"google-cloud-credentials","name":"IOTFI Credentials"},{"id":"df1b3456.3e2fa8","type":"google-cloud-credentials","name":"iotfi"},{"id":"dc0fd3e4.694f9","type":"wml-config","host":"https://ibm-watson-ml.mybluemix.net","instanceid":"","name":"Initial"},{"id":"8b3ec6b2.211c58","type":"wml-config","host":"https://ibm-watson-ml.mybluemix.net","instanceid":"","name":"Initial"},{"id":"7c8bd5b8.9d901c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"352010d7.7bdd4","type":"ui_tab","name":"Acceleration dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"b8b5757d.f38bb8","type":"ui_tab","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"4b1f5d5c.eddd44","type":"ui_tab","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"987658cd.8a2738","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"c3917ba4.73c0c","type":"ui_tab","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"256ceca.2c47194","type":"ui_tab","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"a296205a.9f1f8","type":"ui_tab","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"48838abc.3ed35c","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"d803e7aa.47ea18","type":"ui_tab","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"dc8be1ad.61b7","type":"ui_tab","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e91b334.94dcd","type":"ui_tab","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0e1ff06.36376","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"f051a95c.534318","type":"ui_tab","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"62bc72a4.b5bcbc","type":"ui_tab","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"4a0d4fb2.77acf","type":"ui_tab","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"5abc36e4.bf8338","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"f7013d7d.5eb85","type":"ui_group","name":"Acceleration","tab":"352010d7.7bdd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7fc28ec.02cca8","type":"ui_group","name":"blue","tab":"352010d7.7bdd4","order":2,"disp":true,"width":"6","collapse":false},{"id":"ceeff91c.56a9b8","type":"ui_group","name":"Clear","tab":"352010d7.7bdd4","order":3,"disp":true,"width":"6","collapse":false},{"id":"34e8a021.21be4","type":"ui_group","name":"Red","tab":"352010d7.7bdd4","order":4,"disp":true,"width":"6","collapse":false},{"id":"40cbfaa6.5d37a4","type":"ui_group","name":"Day chart","tab":"b8b5757d.f38bb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"836aeafb.6b2e98","type":"ui_group","name":"2 Minute Chart","tab":"b8b5757d.f38bb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a4020c2.81e","type":"ui_group","name":"Default","tab":"4b1f5d5c.eddd44","order":1,"disp":true,"width":"6","collapse":false},{"id":"55ef459f.a99114","type":"ui_group","name":"Graphs","tab":"987658cd.8a2738","order":1,"disp":true,"width":"6","collapse":false},{"id":"df73289f.14496","type":"ui_group","name":"Users","tab":"987658cd.8a2738","order":2,"disp":true,"width":"6","collapse":false},{"id":"c1485dc7.928fa","type":"ui_group","name":"Green","tab":"352010d7.7bdd4","order":5,"disp":true,"width":"6","collapse":false},{"id":"1f842b15.d8d60d","type":"ui_group","name":"blue","tab":"352010d7.7bdd4","order":6,"disp":true,"width":"6","collapse":false},{"id":"3b5c06bd.23488a","type":"ui_group","name":"Clear","tab":"352010d7.7bdd4","order":7,"disp":true,"width":"6","collapse":false},{"id":"7ab3963.27b64e8","type":"ui_group","name":"Red","tab":"352010d7.7bdd4","order":8,"disp":true,"width":"6","collapse":false},{"id":"f94bf32d.846ef","type":"ui_group","name":"Day chart","tab":"b8b5757d.f38bb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"fa0c7286.eebe9","type":"ui_group","name":"2 Minute Chart","tab":"b8b5757d.f38bb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"86455b35.9dd1a8","type":"ui_group","name":"Default","tab":"4b1f5d5c.eddd44","order":2,"disp":true,"width":"6","collapse":false},{"id":"886c3a5c.445468","type":"ui_group","name":"Graphs","tab":"987658cd.8a2738","order":3,"disp":true,"width":"6","collapse":false},{"id":"992066c4.209638","type":"ui_group","name":"Users","tab":"987658cd.8a2738","order":4,"disp":true,"width":"6","collapse":false},{"id":"c48273a8.a182f","type":"ui_group","name":"Green","tab":"352010d7.7bdd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a994189.f3fe9","type":"ui_group","name":"blue","tab":"352010d7.7bdd4","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1c2d2df.c19cf","type":"ui_group","name":"Clear","tab":"352010d7.7bdd4","order":3,"disp":true,"width":"6","collapse":false},{"id":"f9e094a.7c01068","type":"ui_group","name":"Red","tab":"352010d7.7bdd4","order":4,"disp":true,"width":"6","collapse":false},{"id":"73122b1b.2a0d14","type":"ui_group","name":"Day chart","tab":"b8b5757d.f38bb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e5b0db32.93dd98","type":"ui_group","name":"2 Minute Chart","tab":"b8b5757d.f38bb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d215b889.9bf1d8","type":"ui_group","name":"Default","tab":"4b1f5d5c.eddd44","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d729cf6.6256b4","type":"ui_group","name":"Graphs","tab":"987658cd.8a2738","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ba42829.fae3b8","type":"ui_group","name":"Users","tab":"987658cd.8a2738","order":2,"disp":true,"width":"6","collapse":false},{"id":"957d10a7.c2115","type":"ui_group","name":"Green","tab":"352010d7.7bdd4","order":5,"disp":true,"width":"6","collapse":false},{"id":"763a60d2.5073c","type":"ui_group","name":"blue","tab":"352010d7.7bdd4","order":6,"disp":true,"width":"6","collapse":false},{"id":"be8efd2.53f34","type":"ui_group","name":"Clear","tab":"352010d7.7bdd4","order":7,"disp":true,"width":"6","collapse":false},{"id":"95a4efd1.57178","type":"ui_group","name":"Red","tab":"352010d7.7bdd4","order":8,"disp":true,"width":"6","collapse":false},{"id":"ac8ce265.d4cde","type":"ui_group","name":"Day chart","tab":"b8b5757d.f38bb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"7ccdbc8c.4e8d44","type":"ui_group","name":"2 Minute Chart","tab":"b8b5757d.f38bb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"3f34b5df.abd15a","type":"ui_group","name":"Default","tab":"4b1f5d5c.eddd44","order":2,"disp":true,"width":"6","collapse":false},{"id":"c54d790d.a355d8","type":"ui_group","name":"Graphs","tab":"987658cd.8a2738","order":3,"disp":true,"width":"6","collapse":false},{"id":"16a5fbda.a1ee04","type":"ui_group","name":"Users","tab":"987658cd.8a2738","order":4,"disp":true,"width":"6","collapse":false},{"id":"ef18bbab.263228","type":"mqtt in","z":"124cad1.decec53","name":"Subscribe to MQTT event","topic":"iot-2/type/android/id/phone/evt/accel/fmt/json","qos":"2","datatype":"json","broker":"638e76e3.97a0e","nl":false,"rap":true,"rh":0,"x":420,"y":200,"wires":[["20b8bf9a.6effa","f64aaac.d030458","e14658a2.0c5988","934d5b3a.e79138"]]},{"id":"20b8bf9a.6effa","type":"debug","z":"124cad1.decec53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"c6a12fd3.647ce","type":"change","z":"17e3bace.508725","name":"Build complete JSON object","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.{\t   \"time\" : $millis(),\t   \"ax\" : d.\"AccelerometerX@StarterSensor\",\t   \"ay\" : d.\"AccelerometerY@StarterSensor\",\t   \"az\" : d.\"AccelerometerZ@StarterSensor\",\t   \"lax\" : d.\"LinearAccelerationX@StarterSensor\",\t   \"lay\" : d.\"LinearAccelerationY@StarterSensor\",\t   \"laz\" : d.\"LinearAccelerationZ@StarterSensor\",\t   \"a\" : d.\"AccelerometerAbsolute@StarterSensor\"\t}","tot":"jsonata"},{"t":"set","p":"payload.class","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":397.5,"y":156,"wires":[["a28829a4.d438e8"]],"l":false},{"id":"a28829a4.d438e8","type":"debug","z":"17e3bace.508725","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":521.5,"y":130,"wires":[],"l":false},{"id":"75cfcc24.582104","type":"cloudant out","z":"17e3bace.508725","name":"Training Dataset","cloudant":"","database":"trainingflush","service":"node-red-gzpge-2021--cloudant-1626270579010-72965","payonly":true,"operation":"insert","x":487.5,"y":179,"wires":[],"l":false},{"id":"f71de770.15e358","type":"mqtt in","z":"17e3bace.508725","name":"Subscribe to MQTT event","topic":"iot-2/type/android/id/phone/evt/accel/fmt/json","qos":"2","datatype":"json","broker":"638e76e3.97a0e","nl":false,"rap":true,"rh":0,"x":210,"y":160,"wires":[["649601c9.0730c","c6a12fd3.647ce"]]},{"id":"f64aaac.d030458","type":"change","z":"124cad1.decec53","name":"Extract acceleration X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerX@StarterSensor","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"X","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["3ce2e9e0.c4a6b6","4595729f.94e81c"]]},{"id":"e14658a2.0c5988","type":"change","z":"124cad1.decec53","name":"Extract acceleration Y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerY@StarterSensor","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["3ce2e9e0.c4a6b6","226527af.9da6f8"]]},{"id":"934d5b3a.e79138","type":"change","z":"124cad1.decec53","name":"Extract acceleration Z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.AccelerometerZ@StarterSensor","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["3ce2e9e0.c4a6b6","71d8ac2.d4ba754"]]},{"id":"3ce2e9e0.c4a6b6","type":"ui_chart","z":"124cad1.decec53","name":"Accelormeter","group":"f7013d7d.5eb85","order":0,"width":0,"height":0,"label":"Accelerometer [m/s^2]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":300,"wires":[[]]},{"id":"a6d73bce.55e1d8","type":"inject","z":"124cad1.decec53","name":"Clear graph","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clear","payload":"[]","payloadType":"json","x":130,"y":300,"wires":[["3ce2e9e0.c4a6b6"]]},{"id":"4595729f.94e81c","type":"ui_gauge","z":"124cad1.decec53","name":"","group":"f7013d7d.5eb85","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"226527af.9da6f8","type":"ui_gauge","z":"124cad1.decec53","name":"","group":"f7013d7d.5eb85","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":400,"wires":[]},{"id":"71d8ac2.d4ba754","type":"ui_gauge","z":"124cad1.decec53","name":"","group":"f7013d7d.5eb85","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":440,"wires":[]},{"id":"649601c9.0730c","type":"function","z":"17e3bace.508725","name":"Apply classification model","func":"const intercept = -2.1804156327512527;\nconst coefficients = new Float32Array([0.22726018506138604,-0.673867117263062,0.6316235060865015]);\n\nconst x = intercept +\n          coefficients[0] * msg.payload.d[\"AccelerometerX@StarterSensor\"] +\n          coefficients[1] * msg.payload.d[\"AccelerometerY@StarterSensor\"] +\n          coefficients[2] * msg.payload.d[\"AccelerometerZ@StarterSensor\"] ;\n\nmsg.payload = 100.0 / (1.0 + Math.exp(-x));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["3e1960f5.d157f","854609bd.87caa8","b10b7047.42a74"]]},{"id":"3e1960f5.d157f","type":"ui_gauge","z":"17e3bace.508725","name":"Classifier model","group":"f7013d7d.5eb85","order":4,"width":0,"height":0,"gtype":"gage","title":"Classifier Model","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b32400","#e6e600","#ca3838"],"seg1":"45","seg2":"55","x":700,"y":160,"wires":[]},{"id":"854609bd.87caa8","type":"switch","z":"17e3bace.508725","name":"Probability > 50%","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":320,"wires":[["803980a2.fb78c"],[]]},{"id":"803980a2.fb78c","type":"ui_toast","z":"17e3bace.508725","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Shake detected by classifier!","name":"Classifier notification","x":620,"y":400,"wires":[]},{"id":"b10b7047.42a74","type":"debug","z":"17e3bace.508725","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":655,"y":240,"wires":[],"l":false}]