Contaminant Detection/Node-red Dashboard/Dashboard.json
[{"id":"170ef7a3.903e6","type":"tab","label":"Mqtt Data Reciever","disabled":false,"info":""},{"id":"25d02d64.971de2","type":"tab","label":"Classifier","disabled":false,"info":""},{"id":"ee5e5514.78eac8","type":"tab","label":"Predictor","disabled":false,"info":""},{"id":"9f9b5852.fe1398","type":"tab","label":"Email-SMS Alerts","disabled":false,"info":""},{"id":"ecd37374.f422d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a34f0d69.aced7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1b4f06e.a9704","type":"ui_tab","z":"","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"343594e5.71c104","type":"ui_group","z":"","name":"Green","tab":"f1b4f06e.a9704","disp":true,"width":"6","collapse":false},{"id":"7baef8dd.df20d","type":"ui_group","z":"","name":"blue","tab":"f1b4f06e.a9704","disp":true,"width":"6","collapse":false},{"id":"cdd0995a.9cd8b","type":"ui_group","z":"","name":"Clear","tab":"f1b4f06e.a9704","disp":true,"width":"6","collapse":false},{"id":"f4378f6f.726988","type":"ui_group","z":"","name":"Red","tab":"f1b4f06e.a9704","disp":true,"width":"6","collapse":false},{"id":"35e760ad.61c338","type":"ui_group","z":"","name":"Day chart","tab":"9ab93162.c6271","disp":true,"width":"6","collapse":false},{"id":"fa5b6878.cd761","type":"google-cloud-credentials","z":"","name":"IOTFI Credentials"},{"id":"9ab93162.c6271","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"9c6b431e.96aac","type":"ui_group","z":"","name":"2 Minute Chart","tab":"9ab93162.c6271","disp":true,"width":"6","collapse":false},{"id":"6f60f5ac.f98424","type":"bigquery-config","z":""},{"id":"6238a572.16ba54","type":"google-cloud-credentials","z":"","name":"iotfi"},{"id":"5738d37f.004cd4","type":"ui_tab","z":"","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"5b8d7001.efe19","type":"ui_group","z":"","name":"Default","tab":"5738d37f.004cd4","disp":true,"width":"6","collapse":false},{"id":"68af3cc0.20db94","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17c1def5.af74a1","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fca35bac.55063","type":"ui_group","z":"","name":"Graphs","tab":"21dbd001.0e3df8","disp":true,"width":"6","collapse":false},{"id":"a0445cd8.48aa1","type":"ui_group","z":"","name":"Users","tab":"21dbd001.0e3df8","disp":true,"width":"6","collapse":false},{"id":"8504ae55.7a1dc8","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5e88ff28.eac518","type":"mqtt-broker","z":"","name":"android consumer","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"21dbd001.0e3df8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3381a393.7c93ec","type":"mqtt-broker","z":"","name":"EV3","broker":"192.168.1.180","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e6406b2.52f32","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["e6e442c6.afd0b"]]},{"id":"e8297cb8.fc16a8","type":"debug","z":"9f9b5852.fe1398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]},{"id":"e6e442c6.afd0b","type":"function","z":"9f9b5852.fe1398","name":"Trigger Alarm","func":"var payload=msg.payload;\nif (payload>20)\n    return msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["e8297cb8.fc16a8"]]},{"id":"a22e615c.368528","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["e6e442c6.afd0b"]]},{"id":"61b71e4e.6f4778","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":300,"wires":[["e6e442c6.afd0b"]]},{"id":"428b97e4.ebb358","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["4253b315.e85144"]]},{"id":"29322d97.9a635a","type":"e-mail","z":"9f9b5852.fe1398","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Steve","x":590,"y":600,"wires":[]},{"id":"297c7891.deb318","type":"debug","z":"9f9b5852.fe1398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":480,"wires":[]},{"id":"4253b315.e85144","type":"function","z":"9f9b5852.fe1398","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>20 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=20 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["297c7891.deb318","4ef3d3db.4a3064"]]},{"id":"a87c3ed8.df68c8","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["4253b315.e85144"]]},{"id":"e8eed489.94bf98","type":"inject","z":"9f9b5852.fe1398","name":"","topic":"temp","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["4253b315.e85144"]]},{"id":"4ef3d3db.4a3064","type":"function","z":"9f9b5852.fe1398","name":"","func":"var temp=msg.payload;\nmsg.to=\"aaditya.voruganti@gmail.com\";\nmsg.from=\"noreply@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"High Temperature Alarm\";\n    message=\" High Temperature Alarm temp= \";    \n}\nelse\n{\n    message=\" Temperature now normal temp= \"; \n   msg.topic=\"Temperature Alarm Reset\";\n} \nmsg.payload=\"time:\"+d+message +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["297c7891.deb318","29322d97.9a635a"]]},{"id":"57c3b999.f1f658","type":"mqtt in","z":"170ef7a3.903e6","name":"","topic":"/red","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":210,"y":60,"wires":[["c890bf62.e613d8"]]},{"id":"3beb6066.0e9838","type":"mosca in","z":"170ef7a3.903e6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":300,"y":180,"wires":[["a0fe6c6b.2691b8"]]},{"id":"a0fe6c6b.2691b8","type":"debug","z":"170ef7a3.903e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":280,"wires":[]},{"id":"896a455e.8426c8","type":"debug","z":"170ef7a3.903e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"c890bf62.e613d8","type":"simplejs","z":"170ef7a3.903e6","func":"parse-int","property":"payload","name":"ParseRed","x":480,"y":100,"wires":[["896a455e.8426c8","f43cdad7.218398","8d1f056e.8aa9","c8fb4e23.0b2fc8"]]},{"id":"ef45854.00696f8","type":"mqtt in","z":"170ef7a3.903e6","name":"","topic":"/blue","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":270,"y":300,"wires":[["b0542a2a.8692f"]]},{"id":"eff23503.35468","type":"debug","z":"170ef7a3.903e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":380,"wires":[]},{"id":"b0542a2a.8692f","type":"simplejs","z":"170ef7a3.903e6","func":"parse-int","property":"payload","name":"","x":630,"y":360,"wires":[["eff23503.35468","f43cdad7.218398","99fc1723.10f788","c8fb4e23.0b2fc8"]]},{"id":"a6cd5828.f7c2a8","type":"mqtt in","z":"170ef7a3.903e6","name":"","topic":"/clear","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":270,"y":380,"wires":[["c8d4c481.c341e"]]},{"id":"5dbeaaa4.ae2214","type":"debug","z":"170ef7a3.903e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":460,"wires":[]},{"id":"c8d4c481.c341e","type":"simplejs","z":"170ef7a3.903e6","func":"parse-int","property":"payload","name":"","x":630,"y":440,"wires":[["5dbeaaa4.ae2214","f43cdad7.218398","444d629c.62210c","c8fb4e23.0b2fc8"]]},{"id":"26984e82.6beee2","type":"mqtt in","z":"170ef7a3.903e6","name":"","topic":"/green","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":270,"y":440,"wires":[["b689a69e.cee81"]]},{"id":"1b9d42d3.67adcd","type":"debug","z":"170ef7a3.903e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"b689a69e.cee81","type":"simplejs","z":"170ef7a3.903e6","func":"parse-int","property":"payload","name":"","x":630,"y":500,"wires":[["1b9d42d3.67adcd","f43cdad7.218398","3a748ada.57f3f6","c8fb4e23.0b2fc8"]]},{"id":"f43cdad7.218398","type":"ui_chart","z":"170ef7a3.903e6","name":"","group":"35e760ad.61c338","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#669d34","#cbf1ff","#000000","#e32400","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":600,"wires":[[]]},{"id":"8d1f056e.8aa9","type":"ui_gauge","z":"170ef7a3.903e6","name":"","group":"f4378f6f.726988","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":220,"wires":[]},{"id":"99fc1723.10f788","type":"ui_gauge","z":"170ef7a3.903e6","name":"","group":"7baef8dd.df20d","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":320,"wires":[]},{"id":"444d629c.62210c","type":"ui_gauge","z":"170ef7a3.903e6","name":"","group":"cdd0995a.9cd8b","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":420,"wires":[]},{"id":"3a748ada.57f3f6","type":"ui_gauge","z":"170ef7a3.903e6","name":"","group":"343594e5.71c104","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":560,"wires":[]},{"id":"c8fb4e23.0b2fc8","type":"ui_chart","z":"170ef7a3.903e6","name":"","group":"9c6b431e.96aac","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#669d34","#000000","#53d6fd","#e32400","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":620,"wires":[[]]},{"id":"8b8f4eb8.a10da","type":"create dataset","z":"ee5e5514.78eac8","name":"","path":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/iris.databak","saveFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":320,"y":100,"wires":[["681df852.1857f8","dd87b13a.dac0d8"]]},{"id":"9cf2411f.4dacc8","type":"load dataset","z":"ee5e5514.78eac8","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets/","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":224.65087127685547,"y":261.42345428466797,"wires":[["23f63879.e2e58","dbcdd63d.004e6"],["5e1f7a10.e9df3c","5ab16c0f.fb84b4"]]},{"id":"9c229ff9.4e8cd8","type":"inject","z":"ee5e5514.78eac8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":100,"wires":[["8b8f4eb8.a10da"]]},{"id":"909345f3.71efb8","type":"inject","z":"ee5e5514.78eac8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84.36517333984375,"y":212.85204219818115,"wires":[["9cf2411f.4dacc8"]]},{"id":"f3209415.c7a6d","type":"inject","z":"ee5e5514.78eac8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":77.53969955444336,"y":419.6403317451477,"wires":[["393d227d.b25d56","120f1176.3d6fe7"]]},{"id":"681df852.1857f8","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":589,"y":100,"wires":[]},{"id":"5e1f7a10.e9df3c","type":"debug","z":"ee5e5514.78eac8","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":641.0793991088867,"y":268.423397064209,"wires":[]},{"id":"1ed1cac7.02330d","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":639.0793838500977,"y":218.42339324951172,"wires":[]},{"id":"96f18104.fd382","type":"predictor","z":"ee5e5514.78eac8","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":321.82544708251953,"y":448.78329277038574,"wires":[["1a0038ea.a379c7","29c9761c.78e7f2"],["d5ff05d5.1d2948"]]},{"id":"23f63879.e2e58","type":"decision tree classifier","z":"ee5e5514.78eac8","name":"decision tree classifier trainer","savePath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models/","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":440.9365539550781,"y":230.28057861328125,"wires":[["1ed1cac7.02330d"],["5e1f7a10.e9df3c"]]},{"id":"1a0038ea.a379c7","type":"assessment","z":"ee5e5514.78eac8","name":"","score":"accuracy_score","x":460.1112976074219,"y":362.0689105987549,"wires":[["24b5bbbe.0aa0f4"],["d5ff05d5.1d2948"]]},{"id":"393d227d.b25d56","type":"load dataset","z":"ee5e5514.78eac8","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":220.39683532714844,"y":368.21171951293945,"wires":[["1a0038ea.a379c7"],["d5ff05d5.1d2948"]]},{"id":"120f1176.3d6fe7","type":"load dataset","z":"ee5e5514.78eac8","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":154.6825180053711,"y":539.6403436660767,"wires":[["96f18104.fd382","25f97668.e9d2da"],["d5ff05d5.1d2948"]]},{"id":"d5ff05d5.1d2948","type":"debug","z":"ee5e5514.78eac8","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":636.111213684082,"y":462.4977035522461,"wires":[]},{"id":"24b5bbbe.0aa0f4","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":640.3970336914062,"y":355.354793548584,"wires":[]},{"id":"dd87b13a.dac0d8","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":469,"y":39,"wires":[]},{"id":"5ab16c0f.fb84b4","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":369,"y":300,"wires":[]},{"id":"dbcdd63d.004e6","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":349,"y":180,"wires":[]},{"id":"29c9761c.78e7f2","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":541,"wires":[]},{"id":"e604a5bd.f9e51","type":"mqtt out","z":"ee5e5514.78eac8","name":"fake messages producer","topic":"classification","qos":"","retain":"","broker":"ecd37374.f422d8","x":710.6984329223633,"y":769.6506929397583,"wires":[],"inputLabels":["msg.payload"]},{"id":"790bdb4.249c2a4","type":"inject","z":"ee5e5514.78eac8","name":"create fake message","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.98411178588867,"y":774.3649425506592,"wires":[["c71918a4.309538"]],"outputLabels":["time.payload"]},{"id":"cc3f4393.248648","type":"function","z":"ee5e5514.78eac8","name":"create random massage","func":"return {\n   payload: [[5.8,4,1.2,0.2],[7.7,2.8,6.7,2],[5.1,3.8,1.5,0.3],[4.7,3.2,1.6,0.2],[7.4,2.8,6.1,1.9],[5,3.3,1.4,0.2],[6.3,3.4,5.6,2.4],[5.7,2.8,4.1,1.3],[5.8,2.7,3.9,1.2],[5.7,2.6,3.5,1],[6.4,3.2,5.3,2.3],[6.7,3,5.2,2.3],[6.3,2.5,4.9,1.5],[6.7,3,5,1.7],[5,3,1.6,0.2],[5.5,2.4,3.7,1],[6.7,3.1,5.6,2.4],[5.8,2.7,5.1,1.9],[5.1,3.4,1.5,0.2],[6.6,2.9,4.6,1.3],[5.6,3,4.1,1.3],[5.9,3.2,4.8,1.8],[6.3,2.3,4.4,1.3],[5.5,3.5,1.3,0.2],[5.1,3.7,1.5,0.4],[4.9,3.1,1.5,0.1],[6.3,2.9,5.6,1.8],[5.8,2.7,4.1,1],[7.7,3.8,6.7,2.2],[4.6,3.2,1.4,0.2]]\n   \n   \n}","outputs":1,"noerr":0,"x":407.55554962158203,"y":776.3649559020996,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"25f97668.e9d2da","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":600,"wires":[]},{"id":"ebaaa7b8.be0d","type":"predictor","z":"ee5e5514.78eac8","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":418.6667175292969,"y":895,"wires":[["79ba6c34.4c02a4"],["a37c3fbd.edc528"]]},{"id":"79ba6c34.4c02a4","type":"mqtt out","z":"ee5e5514.78eac8","name":"","topic":"predictions","qos":"","retain":"","broker":"ecd37374.f422d8","x":698.6667175292969,"y":855,"wires":[]},{"id":"a37c3fbd.edc528","type":"debug","z":"ee5e5514.78eac8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":678.6667175292969,"y":935,"wires":[]},{"id":"4cb9ac80.8672cc","type":"mqtt in","z":"ee5e5514.78eac8","d":true,"name":"","topic":"Classification","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":108.66671752929688,"y":893,"wires":[["964faa6c.3ce008"]]},{"id":"4aa02890.39327","type":"predictor","z":"ee5e5514.78eac8","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":558.6667175292969,"y":1175,"wires":[["3de25217.737a3e","5848c96a.c0a16"],["2c5cc50c.e9a96a"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload","msg.payload"]},{"id":"3de25217.737a3e","type":"mqtt out","z":"ee5e5514.78eac8","name":"prediction producer","topic":"prediction","qos":"","retain":"","broker":"ecd37374.f422d8","x":845.6666946411133,"y":1074.555471420288,"wires":[],"inputLabels":["msg.payload"]},{"id":"2c5cc50c.e9a96a","type":"debug","z":"ee5e5514.78eac8","name":"error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":822.7778778076172,"y":1140.3332347869873,"wires":[],"inputLabels":["msg.payload"]},{"id":"e4b6c93a.f2ae2","type":"mqtt in","z":"ee5e5514.78eac8","name":"classification consumer","topic":"classification","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":105,"y":1076.888801574707,"wires":[["7cddd781.0bee08","3e19942d.10d36c"]],"outputLabels":["msg.payload"]},{"id":"3e19942d.10d36c","type":"debug","z":"ee5e5514.78eac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":403.2778205871582,"y":1078.2221117019653,"wires":[],"inputLabels":["msg.payload"]},{"id":"7cddd781.0bee08","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)\n};","outputs":1,"noerr":0,"x":275.2223129272461,"y":1177.9999256134033,"wires":[["4aa02890.39327","3e19942d.10d36c","d8b1072.e2f6178"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"541d4f6c.b1a0e8","type":"debug","z":"ee5e5514.78eac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":727.9841423034668,"y":1272.1904554367065,"wires":[],"inputLabels":["msg.payload"]},{"id":"ca39f692.10772","type":"mqtt in","z":"ee5e5514.78eac8","name":"prediction consumer","topic":"predictions","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":96.11112213134766,"y":1268.11097240448,"wires":[["74bd7e3c.32f3c"]],"outputLabels":["msg.payload"]},{"id":"9604825b.157d18","type":"ui_chart","z":"ee5e5514.78eac8","name":"","group":"a0445cd8.48aa1","order":0,"width":0,"height":0,"label":"predictions graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":753.5555458068848,"y":1213.5554428100586,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"74bd7e3c.32f3c","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":296.88888931274414,"y":1267.9997653961182,"wires":[["9604825b.157d18","541d4f6c.b1a0e8","4258562.2aee328"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"4258562.2aee328","type":"mqtt out","z":"ee5e5514.78eac8","name":"android publisher","topic":"esp/tomer","qos":"","retain":"","broker":"ecd37374.f422d8","x":555.2222518920898,"y":1303.555263519287,"wires":[]},{"id":"d8b1072.e2f6178","type":"debug","z":"ee5e5514.78eac8","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":398.6667175292969,"y":1015,"wires":[]},{"id":"5848c96a.c0a16","type":"debug","z":"ee5e5514.78eac8","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":798.6667175292969,"y":1015,"wires":[]},{"id":"964faa6c.3ce008","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)\n};","outputs":1,"noerr":0,"x":238.66671752929688,"y":975,"wires":[["ebaaa7b8.be0d","4a9d610e.5ea938"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"c981cf4a.c91e8","type":"mqtt in","z":"ee5e5514.78eac8","name":"","topic":"/All","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":90,"y":1460,"wires":[["abafc5f1.d8d5c","eb4bdf5d.2749a"]]},{"id":"abafc5f1.d8d5c","type":"debug","z":"ee5e5514.78eac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":1460,"wires":[],"inputLabels":["msg.payload"]},{"id":"faf1df31.23f3b8","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":250,"y":1400,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"eb4bdf5d.2749a","type":"debug","z":"ee5e5514.78eac8","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1400,"wires":[]},{"id":"2b4333fc.1e65ac","type":"mqtt in","z":"ee5e5514.78eac8","name":"","topic":"Classification","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":110,"y":1580,"wires":[["685eb69.ff169c8","7287a2b5.762d74","8e032e5d.2d9c38","91525924.38c498"]]},{"id":"8e032e5d.2d9c38","type":"debug","z":"ee5e5514.78eac8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":1600,"wires":[],"inputLabels":["msg.payload"]},{"id":"685eb69.ff169c8","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":250,"y":1540,"wires":[["3d84a92f.3fc186","ec48b4af.224d4"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"3d84a92f.3fc186","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1520,"wires":[]},{"id":"7287a2b5.762d74","type":"mqtt out","z":"ee5e5514.78eac8","name":"fake messages producer","topic":"classification","qos":"","retain":"","broker":"ecd37374.f422d8","x":330,"y":1680,"wires":[],"inputLabels":["msg.payload"]},{"id":"c71918a4.309538","type":"function","z":"ee5e5514.78eac8","name":"create Iris Virginica","func":"return {\n   payload: [[7.7,2.8,6.7,2]]\n   \n   \n}","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["e604a5bd.f9e51"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"d135c.d5594ca4","type":"function","z":"ee5e5514.78eac8","name":"create Iris Sentosa","func":"return {\n   payload: [[5.8,4,1.2,0.2]]\n   \n   \n}","outputs":1,"noerr":0,"x":390,"y":680,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"8b52c576.d4b7c8","type":"predictor","z":"ee5e5514.78eac8","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":434.2857475280762,"y":2369.142961025238,"wires":[["35a02424.708104","1c606513.79ae8b"],["3ac5bfa7.8105e8"]]},{"id":"35a02424.708104","type":"assessment","z":"ee5e5514.78eac8","name":"","score":"accuracy_score","x":572.5715980529785,"y":2282.428578853607,"wires":[["6280fbac.241d24"],["3ac5bfa7.8105e8"]]},{"id":"e441c207.d7883","type":"load dataset","z":"ee5e5514.78eac8","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":332.8571357727051,"y":2288.5713877677917,"wires":[["35a02424.708104"],["3ac5bfa7.8105e8"]]},{"id":"5057842f.3f9e74","type":"load dataset","z":"ee5e5514.78eac8","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":267.14281845092773,"y":2460.000011920929,"wires":[["8b52c576.d4b7c8","725b01d4.e7a2e"],["3ac5bfa7.8105e8"]]},{"id":"3ac5bfa7.8105e8","type":"debug","z":"ee5e5514.78eac8","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":748.5715141296387,"y":2382.8573718070984,"wires":[]},{"id":"6280fbac.241d24","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":752.8573341369629,"y":2275.7144618034363,"wires":[]},{"id":"1c606513.79ae8b","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":662.4603004455566,"y":2460.3596682548523,"wires":[]},{"id":"725b01d4.e7a2e","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":402.46030044555664,"y":2520.3596682548523,"wires":[]},{"id":"cb91888f.bad97","type":"mqtt in","z":"ee5e5514.78eac8","d":true,"name":"classification consumer","topic":"/Classification","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":120,"y":2340,"wires":[["e441c207.d7883","5057842f.3f9e74"]],"outputLabels":["msg.payload"]},{"id":"ec48b4af.224d4","type":"csv","z":"ee5e5514.78eac8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":670,"y":1600,"wires":[["d93bb199.2ca38","b628d482.7b34a8"]]},{"id":"d93bb199.2ca38","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":1580,"wires":[]},{"id":"b628d482.7b34a8","type":"file","z":"ee5e5514.78eac8","d":true,"name":"Csv Storage","filename":"/Users/aadityavoruganti/Desktop/Final/hg50mg.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":811,"y":1665,"wires":[[]]},{"id":"17be87c8.896eb8","type":"mqtt in","z":"ee5e5514.78eac8","name":"","topic":"/SensorReadingName","qos":"2","datatype":"auto","broker":"ecd37374.f422d8","x":140,"y":1800,"wires":[["23225be6.15ee7c","91525924.38c498"]]},{"id":"23225be6.15ee7c","type":"debug","z":"ee5e5514.78eac8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":1800,"wires":[],"inputLabels":["msg.payload"]},{"id":"91525924.38c498","type":"join","z":"ee5e5514.78eac8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1740,"wires":[["885289c.f10a5f8","5fb7b838.307d5"]]},{"id":"5fb7b838.307d5","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":730,"y":1780,"wires":[["7be915b8.f5f65c"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"7be915b8.f5f65c","type":"debug","z":"ee5e5514.78eac8","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":1780,"wires":[]},{"id":"885289c.f10a5f8","type":"debug","z":"ee5e5514.78eac8","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1860,"wires":[]},{"id":"a1190465.d09ab8","type":"function","z":"ee5e5514.78eac8","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":350,"y":1880,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"4a9d610e.5ea938","type":"debug","z":"ee5e5514.78eac8","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":960,"wires":[]},{"id":"de3f60e6.c281b","type":"create dataset","z":"25d02d64.971de2","name":"","path":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/iris.databak","saveFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":440,"y":140,"wires":[["ca7dc6e0.e83b4","d0b91eae.3ecd9"]]},{"id":"faf799e6.f064f8","type":"load dataset","z":"25d02d64.971de2","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets/","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":344.65087127685547,"y":301.42345428466797,"wires":[["56713ad1.62ef34","a177a092.4be8e"],["837f12df.61479","aa39b051.1342f8"]]},{"id":"5e6a66c6.89568","type":"inject","z":"25d02d64.971de2","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":140,"wires":[["de3f60e6.c281b"]]},{"id":"9f928781.5c84e","type":"inject","z":"25d02d64.971de2","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204.36517333984375,"y":252.85204219818115,"wires":[["faf799e6.f064f8"]]},{"id":"e34fd1bc.b946f","type":"inject","z":"25d02d64.971de2","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.53969955444336,"y":459.6403317451477,"wires":[["b1377197.142018","a277b3d7.29a398"]]},{"id":"ca7dc6e0.e83b4","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":709,"y":140,"wires":[]},{"id":"837f12df.61479","type":"debug","z":"25d02d64.971de2","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":761.0793991088867,"y":308.423397064209,"wires":[]},{"id":"979cb299.3b0908","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":759.0793838500977,"y":258.4233932495117,"wires":[]},{"id":"eabecbc4.91a578","type":"predictor","z":"25d02d64.971de2","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":441.82544708251953,"y":488.78329277038574,"wires":[["f93941ef.8ae4b","ddba4791.b0fbb"],["e4b3646d.70f518"]]},{"id":"56713ad1.62ef34","type":"decision tree classifier","z":"25d02d64.971de2","name":"decision tree classifier trainer","savePath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models/","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":560.9365539550781,"y":270.28057861328125,"wires":[["979cb299.3b0908"],["837f12df.61479"]]},{"id":"f93941ef.8ae4b","type":"assessment","z":"25d02d64.971de2","name":"","score":"accuracy_score","x":580.1112976074219,"y":402.0689105987549,"wires":[["510aeb53.c9995c"],["e4b3646d.70f518"]]},{"id":"b1377197.142018","type":"load dataset","z":"25d02d64.971de2","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":340.39683532714844,"y":408.21171951293945,"wires":[["f93941ef.8ae4b"],["e4b3646d.70f518"]]},{"id":"a277b3d7.29a398","type":"load dataset","z":"25d02d64.971de2","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":274.6825180053711,"y":579.6403436660767,"wires":[["eabecbc4.91a578","81ba571d.7d7558"],["e4b3646d.70f518"]]},{"id":"e4b3646d.70f518","type":"debug","z":"25d02d64.971de2","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":756.111213684082,"y":502.4977035522461,"wires":[]},{"id":"510aeb53.c9995c","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":760.3970336914062,"y":395.354793548584,"wires":[]},{"id":"d0b91eae.3ecd9","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":589,"y":79,"wires":[]},{"id":"aa39b051.1342f8","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":489,"y":340,"wires":[]},{"id":"a177a092.4be8e","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":469,"y":220,"wires":[]},{"id":"ddba4791.b0fbb","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":581,"wires":[]},{"id":"81ba571d.7d7558","type":"debug","z":"25d02d64.971de2","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":640,"wires":[]}]